{
  "extends": ["taro/react"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": "error",
    "jsx-quotes": "off"
  }
}
