.main {
    height: 100vh;
    position: relative;
    .bathroom {
        position: relative;
        width: 750px;
        height: 940px;
    }
    .main-toilet {
        position: absolute;
        width: 364px;
        height: 306px;
        left: 317px;
        top: 775px;
    }
    .main-character {
        position: absolute;
        width: 456px;
        height: 778px;
        left: 225px;
        top: 556px;
    }
    .button-group {
        display: flex;
        position: absolute;
        bottom: 0;
        margin-bottom: constant(safe-area-inset-bottom);
        margin-bottom: env(safe-area-inset-bottom);
        justify-content: space-around;
        width: 100vw;
    }
    .button {
        width: 165px;
        height: 156px;
    }
    .timer-wrapper {
        position: absolute;
        left: 0;
        bottom: 55px;
        width: 750px;
        height: 94px;
    }
    .timer-bg {
        width: 750px;
        height: 94px;
    }
    .timer {
        position: absolute;
        left: 0;
        bottom: 26px;
        display: block;
        text-align: center;
        width: 100%;
        font-size: 36px;
        font-weight: bold;
        color: #fff;
    }
    .action-button {
        position: absolute;
        left: 10px;
        bottom: 299px;
        width: 230px;
        height: 106px;
        & + .action-button {
            bottom: 171px;
        }
    }
    .action-button__bg {
        width: 230px;
        height: 106px;
    }
    .action-button__foreground {
        position: absolute;
        left: 49px;
        top: 15px;
        width: 119px;
        height: 33px;
    }
}